<p><a class="btn btn-primary" data-action="new-notification" href="#">New push notification</a></p>
<div class="reports-holder">
  \{{> pushNotificationEntries}}
</div>
<p class="text-center"><a href="#" data-load-more>Load more</a></p>