#notification-message-preview {
  position: relative;
  text-align: left;
  color: #fff;
  font-size: 8px;
  pointer-events: none;
  max-width: 640px;
  margin: 0 auto 10px;

  @media screen and (min-width: 1280px) {
    font-size: 9px;
  }

  > img {
    width: 100%;
  }

  &.message-empty {
    #notification-preview-home,
    #notification-preview-lockscreen,
    #notification-preview-notification-center {
      display: none;
    }
  }

  strong {
    font-weight: 400;
    display: block;
  }

  .notification-message {
    display: block;
    font-weight: 300;
    font-size: 0.9em;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.4;

    strong {
      display: inline;
    }

    + push-notification-preview {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid #eee;
    }
  }

  > div {
    > img {
      -moz-border-radius: 21%;
      border-radius: 21%;
    }
  }

  ~ h4 {
    margin-top: 25px;
  }
}

#notification-preview-icon-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 59.28752639%;
  pointer-events: none;

  > img {
    position: absolute;
    top: 56.5%;
    left: 17.8%;
    width: 5.4%;
  }

  > strong {
    position: absolute;
    top: 66%;
    left: 17.2%;
    width: 6.3%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-size: 0.7em;
    font-weight: 300;
  }
}

#notification-preview-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 33.333%;
  background: #000;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0.3% 1.2% 10px 4%;

  > img {
    width: 5.333%;
    margin-top: 1.867%;
    float: left;
    margin-left: -8%;
  }
}

#notification-preview-lockscreen {
  position: absolute;
  top: 29.9%;
  left: 34.8%;
  border-top: 1px solid #fff;
  border-top-color: rgba(255, 255, 255, 0.1);
  width: 31.8%;
  padding-left: 2.9%;
  padding-right: 1%;

  > img {
    position: absolute;
    top: 10%;
    left: 0;
    width: 6%;
  }
}

#notification-preview-notification-center {
  position: absolute;
  top: 16.4%;
  left: 68.1%;
  right: 0;
  margin-left: 3%;
  padding-right: 1%;
  padding-bottom: 1%;
  border-bottom: 1px solid #fff;
  border-bottom-color: rgba(255, 255, 255, 0.1);

  >img {
    position: absolute;
    top: 0;
    left: -10.1%;
    width: 6%;
  }
}
