body {
  color: $brand-text-color;
}

h1, h2, h3, h4 {
  font-weight: 700;
  color: $brand-heading-color;
}

h1 {
  margin-bottom: 35px;
}

h2 {
  margin-bottom: 25px;
}

h3 {
  border: none;
  padding-bottom: 0;
  margin-bottom: 20px;
}

h4 {
  margin-bottom: 15px;
}

::placeholder {
  color: $brand-text-color-faded;
}

.help-block {
  color: $brand-text-color-faded;
}
